<footer id="contact">
  <div class="content">
    <div class="wrapper footer-contact-block">
      <p class="footer-contact-title"><b>POUR PLUS DE RENSEIGNEMENTS, CONTACTEZ-NOUS :</b></p>
      <p>par mail : <a href="&#109;&#97;&#105;&#76;&#116;&#79;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#118;&#101;&#103;&#101;&#116;&#111;&#45;&#97;&#113;&#117;&#97;&#112;&#111;&#110;&#105;&#101;&#46;&#102;&#114;" title="Nous contacter par mail à l'adresse suivante">cont<!-- spam@here -->act&commat;vegeto-aquapon<!-- @lulz.tld -->ie&period;fr</a></p>
      <p>par téléphone : Raphaël au <a href="tel:+33641681052" title="Contacter Raphaël au 06 41 68 10 52">06 41 68 10 52</a> | Guillaume au <a href="tel:+33663845155" title="Contacter Guillaume au 06 63 84 51 55">06 63 84 51 55</a></p>
      <address><b>VEGETO<sub>2</sub></b><br>
      17, rue de l'Hermitage - 60350 Autrêches</address>
    </div>
    <p class="baseline"><span class="copyleft">&copy;</span> 2026 VEGETO<sub>2</sub> | &#9829; Le respect de votre vie privée et le partage sont importants pour nous. Nous ne collectons aucune de vos données personnelles et n'utilisons que des solutions open-sources.</p>
  </div>
</footer>