{% include header %}
  <main class="main" role="main">
	{{ content }}
  </main>
  <footer>
    <div class="content">
      <div class="wrapper">
        <ul class="socials-links">
          <li><a href="https://www.facebook.com/vegeto02" title="Suivez notre actualité sur notre page Facebook" rel="noreferrer, nofollow, noopener" target="_blank">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
          <style type="text/css">
          	.st0{fill:#304146;}
          </style>
          <path class="st0" d="M20,0C9,0,0,9,0,20c0,11,9,20,20,20s20-9,20-20C40,9,31,0,20,0z M24.7,19.9h-2.8v10.3h-4.2V19.9h-2.3v-3.6h2.2
          	c0-1.1,0-2,0-3c0-2.8,2.2-3.6,4.1-3.6H25h0v3.5c-0.3,0-1.3,0-1.9,0c-0.1,0-1.2-0.1-1.2,1c0,0.5,0,2,0,2H25L24.7,19.9z"/>
          </svg>
        </a></li>
        <li><a href="https://instagram.com/veget_0" title="Retrouvez nos plus beaux clichés sur Instagram" rel="noreferrer, nofollow, noopener" target="_blank">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#304146;}
          </style>
          <g>
          	<path class="st0" d="M20,16c0,0-0.1,0-0.1,0c-1,0-1.9,0.4-2.6,1.1c-0.8,0.7-1.2,1.8-1.2,2.9c0,2.2,1.8,3.9,3.9,3.9
          		c2.2,0,3.9-1.7,3.9-4c0-1.1-0.3-2.1-0.9-2.7C22.3,16.5,21.3,16.1,20,16z"/>
          	<path class="st0" d="M24.5,10.5h-9c-2.6,0-4.7,2.1-4.7,4.7v9.6c0,2.6,2.1,4.7,4.7,4.7h9c2.6,0,4.7-2.1,4.7-4.7v-9.6
          		C29.2,12.6,27.1,10.5,24.5,10.5z M24.2,24.2c-1.1,1.1-2.6,1.7-4.2,1.7c-3.3,0-5.9-2.7-5.9-5.9c0-1.6,0.7-3.2,1.8-4.3
          		C17,14.6,18.5,14,20,14c1.8,0.1,3.4,0.7,4.4,1.8c1,1.1,1.5,2.5,1.5,4.2C25.9,21.6,25.3,23.1,24.2,24.2z M26.1,15.2
          		c-0.8,0-1.4-0.6-1.4-1.4s0.6-1.4,1.4-1.4c0.8,0,1.4,0.6,1.4,1.4S26.8,15.2,26.1,15.2z"/>
          	<path class="st0" d="M20,0C9,0,0,9,0,20c0,11,9,20,20,20s20-9,20-20C40,9,31,0,20,0z M30.9,24.8c0,3.5-2.9,6.4-6.4,6.4h-9
          		c-3.5,0-6.4-2.9-6.4-6.4v-9.6c0-3.5,2.9-6.4,6.4-6.4h9c3.5,0,6.4,2.9,6.4,6.4V24.8z"/>
          </g>
          </svg>
        </a></li>
        <li><a href="https://www.linkedin.com/company/vegeto-solutions-aquaponiques/" title="Suivez notre actualité pro sur notre page LinkedIn" rel="noreferrer, nofollow, noopener" target="_blank">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#304146;}
          </style>
          <path class="st0" d="M20,0C9,0,0,9,0,20c0,11,9,20,20,20s20-9,20-20C40,9,31,0,20,0z M16.1,27.4h-3.4V16.5h3.4V27.4z M14.4,15.1
          	c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C16.4,14.2,15.5,15.1,14.4,15.1z M28.7,27.4h-3.3v-5.7c0-1.6-0.6-2.4-1.8-2.4
          	c-1.3,0-2,0.9-2,2.4v5.7h-3.2V16.5h3.2V18c0,0,1-1.8,3.3-1.8c2.3,0,3.9,1.4,3.9,4.3L28.7,27.4z"/>
          </svg>
        </a></li>
        </ul>
        <address><b>VÉGÉTO</b><br>
        17, rue de l'hermitage - 60 350 Autrêches<br>
        G. 06 63 84 51 55 | R. 06 41 68 10 52 | <a href="&#109;&#97;&#105;&#76;&#116;&#79;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#118;&#101;&#103;&#101;&#116;&#111;&#45;&#97;&#113;&#117;&#97;&#112;&#111;&#110;&#105;&#101;&#46;&#102;&#114;" title="Nous contacter par mail à l'adresse suivante">cont<!-- spam@here -->act&commat;vegeto-aquapon<!-- @lulz.tld -->ie&period;fr</a></address>
      </div>
      <p class="baseline"><span class="copyleft">&copy;</span> 2018 Végéto | &#9829; Le respect de votre vie privée et le partage sont importants pour nous. Nous ne collectons aucune de vos données personnelles et n'utilisons que des solutions open-sources.</p>
    </div>
  </footer>
</body>
</html>
