---
layout: layouts/base
---

<div class="container">
  <div class="content static-page static-page--{{ page.fileSlug }}">
    <div class="static-page-intro">
      <h1>{{ title }}</h1>
      {% if lead %}<p>{{ lead }}</p>{% endif %}
    </div>
    <div class="static-page-body">
      {{ content }}
    </div>
  </div>
</div>
